<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>

        <form action="/" method="POST">
            <label for="filterCriteria">Filter by Category:</label>
            <select id="filterCriteria" name="filterCriteria">
                <option value="None"> None </option>
                <% for (let category of categories) { %>
                    <option value="<%= category %>"> <%= category %> </option>
                <% } %>
            </select>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Filter</button>
        </form>
        <% if (prods.length > 0) { %>
            <div class="grid">  
                <% for (let product of prods) { %>
                    <article class="card">
                        <header class="card_header">
                            <h1 class="product_title"><%= `${product.make} ${product.model}` %></h1>
                        </header>
                        <div class="card_image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card_content">
                            <h2 class="product_price"><%= `Price: $${product.price}` %></h2>
                            <h3 class="product_category"><%= `Category: ${product.category}` %></h3>
                        </div>
                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        <a class="link-button float-right" href="/product-details/<%= product.id %>">Details</a>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No products found</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>